<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div>
        <div class="error page content">
            <h2>OOPs Page Not Found</h2>
        </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>