<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
   
    <div>
        <div class="about page content">
            <h2>About Page</h2>
            <p>This is my blog created with ExpressJS and MongoDB</p>
        </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>