<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div>
        <div class="create-blogs content">
            <form action="/blogs" method="post">
                <label for="">Blog Title:</label>
                <input type="text" name="title"  required>
                <label for="">Blog Snippet:</label>
                <input type="text" name="snippet"  required>
                <label for="">Blog Body:</label>
                <textarea name="body" required></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>