<nav>
    <div>
        <a href="/"><h1 class="blog-name">Node Blog</h1></a>
        <p>This is my blog</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>                                    
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>